<head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>
  <body>
    
    <div class="container">
      <form action="/todo/delete/" method="">
        <input type="text" placeholder="Todo Header" name="todoHeader" value="">
        <input class="btn btn-default" type="submit" value="Delete">
      </form>
      <a href="{{ url_for('show_all_todos')}}"> Finish</a>

      {% if data %}
        <p class="data">  {{ data }}
      {% endif %}
      
      {% if error %}
      <a> {{error}} </a> 
      {% endif %}
    </div>

  </body>
</html>