{% extends "base_template.html" %} {% block content %}
<table border="1">
    <style>
        p {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        ul {
            display: flex;
            width: 100%;

            flex-direction: column;
            justify-content: space-between;
        }

        li {
            padding: 1px 5px;
            border-bottom: 1px solid #ddd;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    </style>

    {% for key, value in dict.items() %}
    <p>{{ key }}
        <form action="{{ url_for('delete_todo') }}"></form>
    </p>
    <ul>
        {% for items in value %}

        <li>
            {{items}}
            <form
                class="form"
                action="{{ url_for('delete_todo') }}"
                method="post"
            >
                <input class="button" type="submit" value="Delete" />
                <input type="hidden" value="{{key}}" name="todoHeader" />
                <input type="hidden" value="{{items}}" name="taskToDelete" />
            </form>
        </li>

        {% endfor %}
    </ul>
    {% endfor %}
</table>
{% endblock %}
